<ng-container *transloco="let t">
  <div class="left">
    <div class="greetings">
      <div class="hello">{{ t('presentation.hello') }}</div>
      <div class="name">Alexandre Sirko</div>
      <div class="job-title">{{ t('presentation.titleShort') }}</div>
    </div>
  </div>
  <div class="right">
    <div class="portrait">
      <img src="../../assets/images/portrait.jpg" [alt]="t('presentation.portraitTitle')" />
    </div>
    <div class="name" hidden>Alexandre Sirko</div>
    <div class="job-title" hidden>{{ t('presentation.titleShort') }}</div>
    <div class="keywords">
      <span *ngFor="let keyword of t('presentation.keywords')">{{ keyword }}</span>
    </div>
    <resume-contact></resume-contact>
    <div class="socials">
      <a href="https://github.com/asirko" target="_blank"><i class="icon-github"></i></a>
      <a href="https://gitlab.com/sirko.alexandre" target="_blank"><i class="icon-gitlab"></i></a>
      <a href="https://www.linkedin.com/in/alexandre-sirko-77aa6359/" target="_blank"><i class="icon-linkedin"></i></a>
    </div>
    <button class="print" (click)="print()">{{ t('presentation.download') }}</button>
  </div>
</ng-container>
