<resume-header></resume-header>

<main>
  <resume-presentation id="presentation"></resume-presentation>
  <resume-about id="about"></resume-about>
  <resume-experience id="experience"></resume-experience>
  <resume-skill id="skill"></resume-skill>
  <resume-education id="education"></resume-education>
  <div id="interest">
    <resume-achievement></resume-achievement>
    <resume-interest></resume-interest>
  </div>
</main>

<footer>
  <div class="footer-text">
    {{ 'footer.conclusion' | transloco }}
  </div>
  <div class="footer-container">
    <resume-contact></resume-contact>
    <a href="#presentation">
      <i class="icon-circle-up"></i>
    </a>
  </div>
</footer>
