@import '@fontsource/lato';
@import '@fontsource/lilita-one';
@import '@fontsource/playfair-display';

@import 'styles/icons/icons';
@import 'styles/print';

@import 'styles/shared/mixins';

html {
  width: 100% !important;
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: Lato;
  color: var(--text);
}
body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5569dc;
  --primary-light: #eef0fb;
  --primary-dark: #262673;
  --text-light: #fff;
  --text-grey: #aaa;
  --text: #000;
  --margin: 8rem;
}

h3 {
  margin-bottom: 1.7rem;
  color: var(--primary);
  font-size: 2em;
  font-family: 'Playfair Display';
  font-style: italic;
}
h4 {
  margin-bottom: 4rem;
  color: var(--primary);
  font-family: Lato;
  font-weight: 100;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

p {
  color: var(--primary-dark);
  margin: 1.5em 0;
  line-height: 2em;
}

main > *:not(:first-child) {
  margin: var(--margin) auto;
  max-width: calc(50rem * 1.6);
}

ul {
  list-style-type: none;
}

#about {
  padding: var(--margin);
  margin: 0;
  max-width: none;
  & > * {
    margin: 0 auto;
    max-width: calc(50rem * 1.6);
  }
}

#interest {
  display: flex;
  gap: 3rem;
  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}

@include breakpoint(medium) {
  main > *:not(:first-child) {
    margin: var(--margin);
  }
}

@include breakpoint(small) {
  :root {
    --margin: 3rem;
  }
  #interest {
    display: block;
    gap: initial;
  }
  main > *:not(:first-child) {
    max-width: initial;
  }
  h3 {
    margin-top: 4rem;
  }
  h4 {
    margin-bottom: 3rem;
  }
}
